<div class="haikus-view container-fluid" ng-if="dataLoaded">
    <span class="select-form">
        <span>
            Sort by: 
            <select select-picker data-style="btn-primary" ng-model="selectedSortOption" ng-change="sendQuery()" ng-options="opt.name for opt in sortOptions"></select>
        </span>

        <span>
            Order by:
            <select select-picker data-style="btn-primary" ng-model="selectedOrderOption" ng-change="sendQuery()" ng-options="opt.name for opt in orderOptions"></select>
        </span>
    </span>
    
    <div class="haikus-container container-fluid">
        <haiku-small-info class="haikus-container-item" ng-repeat="haiku in haikus" haiku="haiku" show-author="true", on-delete="removeHaiku($index)"></haiku-small-info>
    </div>

    <uib-pagination items-per-page="itemsPerPage" boundary-links="true" total-items="lastKnownItems" max-size="visiblePages" ng-model="currentPage" ng-change="sendQuery()"></uib-pagination>
</div>