<div class="user-register-view">
    <div class="form-horizontal" ng-hide="responseType === 'success'">
        <form class="form-group">
            <label for="nickname">Nickname:</label>
            <input id="nickname" class="form-control" type="text" ng-model="nickname" required ng-minlength="4" ng-maxlength="20" />
            <p class="validation-requirement">min: 4, max: 20</p>

            <label for="publishCode">Secret token:</label>
            <input id="publishCode" class="form-control" type="password" ng-model="publishCode" required />
            
            <input class="btn btn-primary submit" type="submit" value="Register" ng-click="register()" />
        </form>
    </div>
    <div ng-show="receivedResponse">
        <uib-alert type="{{ responseType }}">{{ responseMessage }}</uib-alert>
    </div>
</div>