<div class="user-view container-fluid" ng-if="dataLoaded">
    <span class="user-area">
        <span class="user-nickname">{{ user.nickname }}</span>
        <span class="user-info text-warning">
            {{ user.rating | number : 2 }}
            <uib-rating class="user-info-rating" ng-model="user.rating" max="5" readonly="true"></uib-rating>
            <button class="btn btn-danger" ng-click="deleteAllHaikus()">Delete all</button>
        </span>
    </span>

    <div class="haikus-view">
        <div class="haikus-container container-fluid" ng-repeat="haiku in user.haikus">
            <haiku-small-info class="haikus-container-item" haiku="haiku" show-author="false" on-delete="removeHaiku($index)"></haiku-small-info>
        </div>
    </div>
</div>