<div style="max-width: inherit; width: inherit" class="container-fluid">
    <span>
        {{ user.nickname }}
        <span style="float: right">
            {{ user.rating }}
            <uib-rating style="float: right; margin-left: 20px;" ng-model="user.rating" max="5" readonly="true"></uib-rating>
        </span>
    </span>

    <hr />

    <div style="max-width: inherit; width: inherit" class="container-fluid" ng-repeat="haiku in user.haikus">
        <haiku-info style="max-width: inherit; width: inherit" haiku="haiku" show-author="false"></haiku-info>
    </div>
</div>