.haiku-edit-view {
    width: inherit;
    max-width: inherit;
    
    .test-edit {
        resize: none; 
        overflow: hidden;
        width: inherit;
        max-width: inherit;
        height: 200px;
    }
    
    .edited {
        margin-top: 50px;
    }
}
