.haiku-write-view {
    width: inherit;
    max-width: inherit;
    margin-left: 50px;

    .form-horizontal {
        width: inherit;
        max-width: inherit;

        .form-group {
            width: inherit;
            max-width: inherit;

            textarea {
                overflow: hidden;
                resize: none;
                width: inherit;
                max-width: inherit;
                height: 200px;
            }

            .form-control {
                margin-bottom: 30px;
            }

            input.ng-invalid, textarea.ng-invalid {
                background-color: #FA787E;
            }

            input.ng-valid, textarea.ng-valid {
                background-color: #78FA89;
            }
        }
    }
}

  