.haiku-edit-view {
  width: inherit;
  max-width: inherit;
}
.haiku-edit-view .test-edit {
  resize: none;
  overflow: hidden;
  width: inherit;
  max-width: inherit;
  height: 200px;
}
.haiku-edit-view .edited {
  margin-top: 50px;
}