<div class="haiku-small-view">
    <div class="first-panel">
        <textarea disabled>{{ haiku.text }}</textarea>
        <button class="btn btn-danger side-btn" ng-click="deleteHaiku()">Delete</button>
        <button class="btn btn-primary side-btn" ng-click="editHaiku()">Edit</button>
        <button class="btn btn-primary side-btn" ng-click="selectHaiku(haiku)">View</button>
    </div>
    <span class="second-panel">
        <a ng-show="showAuthor" ng-click="selectUser(haiku.author)">{{ haiku.author }}</a>
        <span class="text-warning">
            <span class="rating-stars"><uib-rating ng-model="haiku.rating" max="5" readonly="true"></uib-rating></span>
            <span class="rating-numeric">{{ haiku.rating | number : 2 }}</span>
        </span>
    </span>
</div>

<div class="divider"></div>